
body{
  background-color: rgb(252, 169, 183);
}
h1{
  color: rgb(252, 252, 34);
  font-size: 50px;
  background: rgb(139, 20, 119);
  margin: 10px;
  text-align: center;
}

#box1 {
  background-color: white;
  height: 400px;
  width: 540px;
  margin: 10px;
  position: fixed;
  text-align: center;
}

#box2 {
  background-color: rgb(104, 231, 104);
  height: 400px;
  width: 700px;
  margin: 10px;
  position: fixed;
  left: 30%;
  text-align: center;
}

#box3 {
  background-color: rgb(67, 156, 255);
  height: 400px;
  width: 580px;
  margin: 10px;
  position: fixed;
  right: 10px; 
  top: 8%; 
  text-align: center;
}

.f2{
  background-color: rgb(255, 193, 7);
  height: 100px;
  width: 98%;
  position: fixed;
  bottom: 35%;
  margin: 10px;
  text-align: center;
  font-size: 50px;
}
#box1 section,
#box2 section,
#box3 section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  margin: 20px;
  margin-top: 30px;
}
